<mat-card [ngClass]="cardClass">
    <mat-card-header>
      <img src="../../assets/logo.png" class="header-logo">
    </mat-card-header>
    <mat-card-content>
        <p [hidden]="true">it's a gap</p>
        <p class="text-m">{{currentAction.title}}</p>
        <p class="text-normal-light">{{currentAction.description}}</p>
        
        <form>
            <br>
            <p>
              <a mat-flat-button color="secondary" class="large" href="/">Go Home</a>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="text-normal-light" style="margin-bottom: 10px;">Error code 404</div>
    </mat-card-actions>
</mat-card>