  <mat-toolbar class="header">
    <mat-toolbar-row>
      <!-- <button *ngIf="showSidebar" mat-icon-button aria-label="icon-button" (click)="generalService.toggleLeftSidenav(null, null)"><mat-icon>menu</mat-icon></button> -->
      <!-- <img class="logo" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"> -->
      <div class="animate">
          <span>G</span><span>L</span><span>B</span>
      </div>
      <!-- <div *ngIf="!isMobile && !isTablet" class="divider"></div>
      <div *ngIf="!isMobile && !isTablet" class="breadcrumbs">
        <div>
          <div *ngFor="let crumb of breadcrumbs.parents" class="breadcrumb mat-small">
            <a [routerLink]="crumb.link" ng-show="!$last">{{crumb.label | uppercase}} {{i}}</a>
            <mat-icon ng-show="!$last" class="next" aria-hidden="false" aria-label="heart icon">chevron_right</mat-icon>
          </div>
          <h3 class="current">{{breadcrumbs.label}}</h3>
        </div>
      </div>
      <span class="spacer"></span>

      <div *ngIf="!isMobile && !isTablet" class="divider"></div>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu> -->
    </mat-toolbar-row>
  </mat-toolbar>