:host {
    svg.globalreach g[data-hasqtip] {
        cursor: pointer;
    }
    :not(svg.globalreach) {
        transform-origin: 0px 0px;
    }
    svg.globalreach path {
        fill: #a70c0c;
        stroke: #002633;
    }
    svg.globalreach g * {
        fill: #3e4543;
        transition: fill .25s ease-out;
    }
    
    svg.globalreach g *:hover {
        fill: #a70c0c;
        transition: fill .25s ease-out;
    }
    
    svg.globalreach.enabled {
        opacity: 1;
    }
    svg.globalreach {
        opacity: 0;
        margin-top: -24%;
        margin-bottom: -100%;
        transition: all .25s ease-out;
    
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
    }
    
    @media (max-width: 1140px) {
        svg.globalreach {
            margin-top: -16%;
            margin-bottom: -100%;
        }
    }
    
    @media (max-width: 768px) {
        .discover-more {
            left: 10%;
            top: 50%;
        }
    }
    
    /* @media (max-width:768px) {
        svg.globalreach {
            margin-top: -30%;
            margin-bottom: -30%;
        }
    } */
    
    svg.globalreach:not(:root) {
        overflow: hidden;
    }
}
