h3 {
    font-weight: 560;
    line-height: 1.14;
    font-size: 19px;
}


.contact-form {
    margin-top: 100px;
    position: relative
}

.contact-form .form-group {
    margin-bottom: 45px
}

@media (min-width:1024px) {
    .contact-form .form-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.contact-form .form-group.last {
    margin-bottom: 0
}

.contact-form .form-group.last .field:last-child {
    margin-bottom: 0
}

.contact-form__overlay .contact-form .form-group {
    margin-bottom: 0
}

.contact-form .form-title {
    margin-bottom: 15px
}

@media (min-width:1024px) {
    .contact-form .form-title {
        width: calc(100% / 6)
    }
}

.contact-form .form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (min-width:1024px) {
    .contact-form .form-content {
        width: 50%
    }
}

.contact-form div[data-class=wpcf7cf_group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.contact-form .field,
.contact-form .mc-field-group {
    width: 100%;
    margin-bottom: 35px
}

.contact-form .field .consentField,
.contact-form .mc-field-group .consentField {
    font-size: 14px;
    font-weight: 300
}

.contact-form .wpcf7-form-control-wrap {
    width: 100%
}

@media (min-width:768px) {

    .contact-form .half-width,
    .contact-form .mc-field-group {
        width: calc(50% - 10px)
    }
}

@media (min-width:768px) {
    .contact-form .noHalf {
        width: 100%
    }
}

.contact-form .bold {
    font-weight: 700
}

form {
    position: relative
}

.contact-form input[type=email],
.contact-form input[type=submit],
.contact-form input[type=tel],
.contact-form input[type=text],
.contact-form textarea,
.searchform input[type=email],
.searchform input[type=submit],
.searchform input[type=tel],
.searchform input[type=text],
.searchform textarea {
    font-family: "Okomito", Helvetica, Arial, sans-serif;
    color: #9b9b9b;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    outline: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    resize: none;
    overflow: auto
}

.contact-form ::-webkit-input-placeholder,
.searchform ::-webkit-input-placeholder {
    color: #9b9b9b
}

.contact-form input:-ms-input-placeholder,
.searchform input:-ms-input-placeholder {
    color: #9b9b9b
}

.contact-form input:-moz-placeholder,
.searchform input:-moz-placeholder {
    color: #9b9b9b
}

.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form input[type=text],
.searchform input[type=email],
.searchform input[type=tel],
.searchform input[type=text] {
    -webkit-appearance: none;
    border: none;
    outline: 0;
    width: 100%;
    padding: 8px 0px;
    height: 40px;
    border-bottom: 1px solid #bebebe;
    background-position: right 5px center;
    background-repeat: no-repeat
}

.contact-form label.upload,
.searchform label.upload {
    cursor: pointer;
    text-align: center;
    display: inline-block
}

.contact-form label.upload:before,
.searchform label.upload:before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-color: #d8d8d8;
    // background-image: url("images/upload.svg");
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto 10px
}

.contact-form label.upload:hover:before,
.searchform label.upload:hover:before {
    background-color: #414141
}

.contact-form label.upload span,
.searchform label.upload span {
    width: 100px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block
}

.contact-form input[type=file],
.searchform input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.contact-form input[readonly=readonly],
.searchform input[readonly=readonly] {
    color: #4a4a4a
}

.contact-form input[type=radio],
.searchform input[type=radio] {
    display: none
}

.contact-form input[type=radio]+span,
.searchform input[type=radio]+span {
    padding-left: 22px;
    position: relative;
    color: #9b9b9b
}

.contact-form input[type=radio]+span:before,
.searchform input[type=radio]+span:before {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 50%;
    border: 1px solid;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

.contact-form input[type=radio]+span:after,
.searchform input[type=radio]+span:after {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

.contact-form input[type=radio]:checked+span,
.searchform input[type=radio]:checked+span {
    color: #4a4a4a
}

.contact-form input[type=radio]:checked+span:before,
.searchform input[type=radio]:checked+span:before {
    color: #f76c4e
}

.contact-form input[type=radio]:checked+span:after,
.searchform input[type=radio]:checked+span:after {
    background-color: #f76c4e
}

.contact-form .wpcf7-radio,
.searchform .wpcf7-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.contact-form .wpcf7-radio .wpcf7-list-item,
.searchform .wpcf7-radio .wpcf7-list-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.contact-form .wpcf7-radio .wpcf7-list-item label,
.searchform .wpcf7-radio .wpcf7-list-item label {
    display: inline-block;
    border-bottom: 1px solid #bebebe;
    margin-right: 20px;
    width: calc(100% - 20px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 0
}

.contact-form label,
.searchform label {
    display: block;
    font-size: 14px
}

.contact-form textarea,
.searchform textarea {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #f3f2f2
}

.contact-form input.wpcf7-submit,
.searchform input.wpcf7-submit {
    background-color: #f76c4e;
    border-radius: 100px;
    color: #fff;
    padding: 10px 25px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.contact-form__overlay .contact-form input.wpcf7-submit,
.contact-form__overlay .searchform input.wpcf7-submit {
    margin-top: 0
}

.contact-form input.wpcf7-submit:hover,
.searchform input.wpcf7-submit:hover {
    background-color: #414141
}

.contact-form input.wpcf7-submit:disabled,
.searchform input.wpcf7-submit:disabled {
    pointer-events: none
}

.contact-form input.searchsubmit,
.searchform input.searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    // background-image: url("images/search-dark.svg");
    display: block;
    cursor: pointer
}

.contact-form input.searchfield,
.searchform input.searchfield {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    border: none;
    width: 100%;
    padding: 7px 40px 11px 20px;
    height: 40px;
    color: #4a4a4a;
    background-color: #fff
}

.contact-form input.searchfield::-webkit-input-placeholder,
.searchform input.searchfield::-webkit-input-placeholder {
    color: #c3c3c3
}

.contact-form input.searchfield:-ms-input-placeholder,
.searchform input.searchfield:-ms-input-placeholder {
    color: #c3c3c3
}

.contact-form input.searchfield:-moz-placeholder,
.searchform input.searchfield:-moz-placeholder {
    color: #c3c3c3
}

.contact-form .screen-reader-response,
.searchform .screen-reader-response {
    display: none
}

.contact-form .wpcf7-not-valid-tip,
.searchform .wpcf7-not-valid-tip {
    font-style: italic;
    font-size: 14px;
    color: #f76c4e;
    text-align: right;
    display: block
}

.contact-form form.invalid input.wpcf7-validates-as-required,
.searchform form.invalid input.wpcf7-validates-as-required {
    // background-image: url("images/contact/valid.svg")
}

.contact-form form.invalid input.wpcf7-not-valid,
.searchform form.invalid input.wpcf7-not-valid {
    color: #f76c4e;
    // background-image: url("images/contact/invalid.svg")
}

.contact-form form.invalid input.wpcf7-not-valid::-webkit-input-placeholder,
.searchform form.invalid input.wpcf7-not-valid::-webkit-input-placeholder {
    color: #f76c4e
}

.contact-form form.invalid input.wpcf7-not-valid:-ms-input-placeholder,
.searchform form.invalid input.wpcf7-not-valid:-ms-input-placeholder {
    color: #f76c4e
}

.contact-form form.invalid input.wpcf7-not-valid:-moz-placeholder,
.searchform form.invalid input.wpcf7-not-valid:-moz-placeholder {
    color: #f76c4e
}

.contact-form form.sent .form-group,
.searchform form.sent .form-group {
    display: none
}

.contact-form .wpcf7-response-output,
.searchform .wpcf7-response-output {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px
}

.contact-form .wpcf7-response-output.wpcf7-validation-errors,
.searchform .wpcf7-response-output.wpcf7-validation-errors {
    color: #f76c4e;
    // background-image: url("images/contact/invalid.svg");
    margin-top: 30px
}

@media (min-width:768px) {

    .contact-form .wpcf7-response-output.wpcf7-validation-errors,
    .searchform .wpcf7-response-output.wpcf7-validation-errors {
        margin-top: 0;
        margin-left: 200px;
        top: -22px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media (min-width:1024px) {

    .contact-form .wpcf7-response-output.wpcf7-validation-errors,
    .searchform .wpcf7-response-output.wpcf7-validation-errors {
        margin-left: calc(100% / 6 + 200px);
        max-width: calc(50% - 200px)
    }
}

.contact-form .wpcf7-response-output.wpcf7-mail-sent-ok,
.searchform .wpcf7-response-output.wpcf7-mail-sent-ok {
    // background-image: url("images/contact/valid.svg")
}

.contact-form__overlay {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    right: -100%;
    -webkit-transition: all 0.3s 0.2s;
    -o-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s
}

.contact-form__overlay.open {
    right: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

.contact-form__inner {
    position: absolute;
    height: 100%;
    background-color: #fff;
    top: 0;
    padding: 70px 35px 40px;
    overflow: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    right: -100%
}

.open .contact-form__inner {
    right: 0;
    -webkit-transition: all 0.5s 0.3s;
    -o-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s
}

@media (min-width:768px) {
    .contact-form__inner {
        width: 680px;
        padding: 70px 60px 40px
    }
}

@media (min-width:1024px) {
    .contact-form__inner {
        max-width: 680px;
        padding: 70px 90px 40px
    }
}

.contact-form__inner .contact-form {
    max-width: 500px;
    margin-top: 0;
    position: relative
}

@media (min-width:1024px) {
    .contact-form__inner .contact-form .wpcf7-validation-errors {
        margin-left: 210px;
        max-width: 300px
    }
}

.contact-form__inner p {
    margin-bottom: 35px;
    color: #9b9b9b;
    margin-top: 5px
}

.contact-form__inner .form-content {
    width: 100%
}

.contact-form__inner .wpcf7-checkbox {
    display: block;
    padding-top: 30px
}



.contact-form .screen-reader-response,
.searchform .screen-reader-response {
    display: none
}



.close-button {
    position: absolute;
    right: 45px;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.close-button .text {
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.2px
}

.close-button .btn-round {
    width: 38px;
    height: 38px;
    background-color: #f76c4e
}

.close-button .btn-round .lines {
    color: #fff;
    width: 18px;
    height: 18px;
    top: 9px;
    display: block;
    position: relative;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.close-button .btn-round .lines:after,
.close-button .btn-round .lines:before {
    content: "";
    width: 100%;
    border-bottom: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.close-button .btn-round .lines:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-button .btn-round .lines:after {
    width: 100%;
    right: auto;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: auto
}

.close-button:hover .btn-round {
    background-color: #414141
}

.btn-round {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #4a4a4a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-round.shadow {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.contact-button {
    white-space: nowrap;
    margin-left: 13px;
    background-color: #f76c4e
}

.contact-button:hover {
    background-color: #414141
}

a.view-privacy-policy {
    text-decoration: none;
    color: #ababab;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}