<!-- HEADER -->
<header class="grid">
    <nav class="s-12 grid background-none background-primary-hightlight">
        <a href="index.html" class="m-12 l-3 padding-2x logo">
            <img src="assets/images/logo.svg">
        </a>
        <div class="top-nav s-12 l-9">
            <ul class="top-ul right chevron">
                <li [ngClass]="{'active-item': page == pages.home}"><a href="#home" (click)="page = pages.home">Home</a></li>
                <li [ngClass]="{'active-item': page == pages.about}"><a href="#about" (click)="page = pages.about">About Us</a></li>
                <li [ngClass]="{'active-item': page == pages.products}"><a href="#products" (click)="page = pages.products">Services</a></li>
                <li [ngClass]="{'active-item': page == pages.gallery}"><a href="#gallery" (click)="page = pages.gallery">Gallery</a></li>
                <li><a onclick="openContactform()">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN -->
<main role="main">
    <app-home [hidden]="page != 'home'"></app-home>
    <app-gallery [hidden]="page != 'gallery'"></app-gallery>
    <app-products [hidden]="page != 'products'"></app-products>
    <app-about [hidden]="page != 'about'"></app-about>
    <!-- <router-outlet></router-outlet> -->
</main>