<!-- <p>Copyright © 2020 GLB. All Rights Reserved.</p> -->
<div class="animate">
    <span>C</span><span>o</span><span>p</span><span>y</span><span>r</span><span>i</span><span>g</span><span>h</span><span>t</span><span>&nbsp;</span><span>©</span><span>&nbsp;</span><span>2</span><span>0</span><span>2</span><span>0</span><span>&nbsp;</span><span>G</span><span>L</span><span>B</span><span>.</span>
</div>
<!-- <p>Copyright © 2020 GLB. All Rights Reserved.</p> -->
<div class="animate">
    <span>&nbsp;</span><span>A</span><span>l</span><span>l</span><span>&nbsp;</span><span>R</span><span>i</span><span>g</span><span>h</span><span>t</span><span>s</span><span>&nbsp;</span><span>R</span><span>e</span><span>s</span><span>e</span><span>r</span><span>v</span><span>e</span><span>d</span><span>.</span>
</div>
