<div class="overview">
    <div class="content">
        <div class="overview__container">
            <div class="overview__machinesContainer" style="display: block; opacity: 1;">
                <ul class="overview__list" data-name="c" id="MixItUpF08EEE">
                    <div class="overview__machinesTypes">
                        <h3>Parts repair & tests</h3>
                        <p>VBR provides inspections & tests of suspect components and repair or replacement of malfunctioning parts. Our OEM authorized Meggitt valve overhaul facility also provides ATEX testing of Meggitt valves.</p>
                        <div class="read-more"><div class="button button--down" data-alttext="read more" style="display: inline-block;">Read more</div></div>
                    </div>

                    <div class="overview__machinesTypes">
                        <h3>Quick quote</h3>
                        <p>Do you have multiple part numbers? And do you want to know quickly whether VBR can supply them and for what price? Enter several partner numbers here and send the form. We will answer your question as well and as quickly as possible.</p>
                        <div class="read-more"><div class="button button--down" data-alttext="read more" style="display: inline-block;">Read more</div></div>
                    </div>

                    <div class="overview__machinesTypes">
                        <h3>Strategic parts management</h3>
                        <p>Strategic spare parts management is all about having access to required spare parts at the right time, the right price and in the right condition. VBR enables operators to have LM spare parts available without keeping all OEM recommended spare parts in stock.</p>
                        <div class="read-more"><div class="button button--down" data-alttext="read more" style="display: inline-block;">Read more</div></div>
                    </div>

                    <div class="overview__machinesTypes">
                        <h3>Logistics & customs handling</h3>
                        <p>VBR is a global supplier of GE LM spare parts. In case of unscheduled engine stops quick and effective delivery of replacement parts is key. The VBR logistics & customs department is specialized in delivering spare part shipments at your premises at the shortest possible notice.</p>
                        <div class="read-more"><div class="button button--down" data-alttext="read more" style="display: inline-block;">Read more</div></div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>