@import "./variables.scss";
@import "./circular-prog-bar.scss";


body {
  display: flex;
  flex-direction: column;
}
  
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// body {
//   background:
//     url(logo.png) bottom center no-repeat,
//     url(background-pattern.png) repeat;
// }

.mat-button-toggle-label-content {
  line-height: 32px!important;
}


.content {
  background: white;
  width: 100%;
  height: 100%;

  >:not(router-outlet) {
    height: 100%;
  }
}

.sidenav-container .mat-drawer {
  padding: 0;
  z-index: 8;
  border-right: 1px solid rgba(0,0,0,.1);
  // box-shadow: 6px 0 6px rgba(0,0,0,.1);
  background: $color-light-5;
  .mat-list-base .mat-list-item .mat-list-avatar, 
  .mat-list-base .mat-list-option .mat-list-avatar,
  mat-button-toggle img {
    width: 22px;
    height: 22px;
    border-radius: 0;
  }
  .mat-list-base .mat-list-item .mat-list-avatar, 
  .mat-list-base .mat-list-option .mat-list-avatar {
    margin-top: 13px;
  }
  mat-card-header img {
    width: 33px;
    height: 33px;
  }
}

.sidenav-content {
  margin-left: 0!important;
}

.back {
  border-bottom: 1px solid $color-light-4;
  min-height: 56px!important;
  
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
  }
}


.maximize {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;

  table {
    height: 100%;
  }
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;

  > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  > .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }
}

.mat-card-avatar {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}
.materialboxed:hover:not(.active) {
  opacity: .8;
}

.spacer {
  flex: 1 1 auto;
}
  
.sidebar-left {
  .mat-divider {
    color: rgba(0, 0, 0, 0.1);
    display: none;
  }
}

thead {
  > tr:nth-child(2) > .mat-header-cell {
    border-bottom: 2px solid #8f9598!important;
  }
}

tbody {
  td {
    background: #f8f9fa;
  }
}

.mat-footer-cell, .mat-paginator {
  border-top: 2px solid #8f9598!important;
}


.documents-table, .users-table {
  > thead {
    > tr > .mat-header-cell {
      border-bottom: 2px solid #8f9598;
    }
  }
}


.rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); /* Safari */
  -moz-transform: rotate(90deg);  /* Firefox */
  -ms-transform: rotate(90deg); /* IE */
  -o-transform: rotate(90deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
}

.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); /* Safari */
  -moz-transform: rotate(180deg);  /* Firefox */
  -ms-transform: rotate(180deg); /* IE */
  -o-transform: rotate(180deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* Internet Explorer */
}

.rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg); /* Safari */
  -moz-transform: rotate(270deg);  /* Firefox */
  -ms-transform: rotate(270deg); /* IE */
  -o-transform: rotate(270deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}


@media print {
  app-header,
  app-footer,
  mat-sidenav,
  mat-paginator,
  table > thead > tr > th > mat-checkbox,
  table > tbody > tr > td > mat-checkbox,
  table > thead > tr:first-child {
    display: none!important;
  }
  table > thead > tr:last-child > th {
    top: 0!important;
  }
  table > tbody > tr > td {
    border-bottom-color: rgba(0,0,0,0)!important;
  }

  mat-sidenav-content > div > div {
    bottom: 0!important;
  }
  mat-sidenav-content {
    margin: 0!important;
  }
}

// .form-add {
//   mat-paginator,
//   table > tbody, 
//   table > tfoot,
//   table > thead > tr:nth-child(2) {
//     display: none!important;
//   }
// }


.mat-dialog-container {
  display: block!important;
  padding: 0!important;
  border-radius: 16px!important;
  text-align: center!important;
  background-color: #f9f9f9;
  color: $color-light-3;

  .mat-dialog-title {
    margin: 12px 16px 0px 16px!important;
    text-align: center!important;
    line-height: 1.2!important;
    color: $color-dark-2;
  }

  .mat-dialog-actions {
    margin-bottom: 0!important;
    padding: 0!important;
    border-radius: 0!important;
    min-height: 0!important;

    button {
      line-height: 48px!important;
      flex: 1!important;
      border-radius: 0!important;
      margin: 0!important;
      border-top: 1px solid #c2c2c2;
      color: $default;
    }

    button:nth-child(2) {
      border-left: 1px solid #c2c2c2;
    }
  }

  .mat-dialog-content{
    margin: 0!important;
  }
}


mat-toolbar {
  mat-icon {
    color: $color-normal;
  }
}
app-header,
app-footer {
  mat-toolbar {
    mat-icon {
      color: $color-light-1;
    }
  }
}


mat-form-field.phone {
  margin-bottom: 5px;
  
  input {
    text-indent: -30px;
  }

  label {
    text-indent: -44px;
  }
}


/**** Custom styles for noUiSlider ****/
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}
.noUi-connect {
	background: purple;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: purple;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
	background-color: purple;
}

/**** Custom styles for Range ****/
input[type=range]::-webkit-slider-thumb {
  background-color: skyblue;
}
input[type=range]::-moz-range-thumb {
  background-color: skyblue;
}
input[type=range]::-ms-thumb {
  background-color: skyblue;
}
/* For the globe and the text inside */
input[type=range] + .thumb {
  background-color: blue;
}
input[type=range] + .thumb.active .value {
  color: #fff;
}



.text-xl {
  font-size: $text-xl!important;
  color: $color-dark-2!important;
}
.text-l {
  font-size: $text-l!important;
  color: $color-dark-2!important;
}
.text-m {
  font-size: $text-m!important;
  color: $color-dark-2!important;
}
.text-normal {
  font-size: $text-normal!important;
  color: $color-dark-1!important;
}
.text-normal-light {
  font-size: $text-normal!important;
  color: $color-light-3!important;
}
.text-s {
  font-size: $text-s!important;
  color: $color-dark-2!important;
}
.text-s-light {
  font-size: $text-s!important;
  color: $color-light-3!important;
}
.text-sx {
  font-size: $text-sx!important;
  color: $color-dark-2!important;
}


.hyperlink {
  color: $info!important;
  background: transparent!important;
  text-decoration: none!important;
  border: none!important;
  outline: none!important;
  font-size: 13px!important;
  font-weight: normal!important;
  padding: 0 2px!important;
  cursor: pointer!important;
}


button.normal, 
a.normal {
  width: $button-normal!important;
}
button.medium, 
a.medium {
  width: $button-m!important;
}
button.large, 
a.large {
  width: $button-l!important;
}
button.extra-large, 
a.extra-large {
  width: $button-xl!important;
}
button.loading {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: #FFF!important;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0;
	}
}


.flex {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  box-sizing: border-box;
}
.flex-20 {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}
.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
  max-width: calc(100% / 3);
  max-height: 100%;
}
.layout-row .flex-50 {
  -webkit-flex: 1 1 calc(50%);
      -ms-flex: 1 1 calc(50%);
          flex: 1 1 calc(150%);
  box-sizing: border-box;
  max-width: calc(50%);
  max-height: 100%;
}
.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
      -ms-flex: 1 1 calc(200% / 3);
          flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
  max-width: calc(200% / 3);
  max-height: 100%;
}
.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
}
.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
}


.billboard-type {
  width: 100%;
  > * {
    width: 33%;

    button > div {
      padding: 0 4px!important;
    }
  }
} 

.selectAll {
  width: 100%;
  text-align: left!important;
  font-size: $text-l!important;
  padding: 6px 37px!important;
}

// make login, register, help maximize on mobile view
app-login:has(.card-page) {
  left: 0!important;
  right: 0!important;
  top: 0!important;
  bottom: 0!important;
  height: 100%;
}
.card-page {    
  box-shadow: none!important;
  top: 0!important;
  padding-bottom: 0!important;
}


mat-card-header {
  max-height: 59px;
  .example-header-image.mat-card-avatar {
    display: none!important;
  }
  .mat-card-header-text {
    margin: 0!important;
    .mat-card-title {
      font-size: $text-normal!important;
      white-space: nowrap!important; 
      text-overflow: ellipsis!important;
      display: block;
      overflow: hidden;
      width: 150px;
    }
  }
}


mat-card-content .verification-code {
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, 
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: transparent!important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent!important;
  }
  .mat-form-field-underline {
    background-color: transparent!important;
  }
  input[type=number] {
    text-indent: 65px !important;
    letter-spacing: 18px !important;
    text-align: left !important;
  }
  .mat-form-field-subscript-wrapper {
    margin-top: 0!important;
  }
  
  > p {
    margin: 7px!important;
  }
}

mat-form-field.dob {
  max-width: calc(100% / 3)!important;

  .mat-form-field-label-wrapper {
    top: -.5em;
    padding-top: .5em;
  }
}

.form-body {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  mat-card {
    width: 400px;
  }
}

mat-card.input-form-card {
  min-width: 120px;
  margin: 20px auto;
  padding-bottom: 30px;
  width: 320px;
  // position: absolute;
  // top: 30px;
  // left: 50%;

  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    // margin-right: 20px;
  }

  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 120px;
  }
}

.mat-button-toggle-group-appearance-standard {
  border: solid 1px rgb(97, 97, 97)!important;
}

.mat-button-toggle-checked {
  background-color: rgba(125, 194, 65, 0.66) !important;
  color: rgb(0, 0, 0) !important;
  // button {
  //   color: #fff;
  //   text-shadow: 0px 0px 2px rgba(0, 0, 0);
  // }
}

.country {
  width: 30px !important;
  position: absolute !important;
  left: 46px !important;
  top: 298px !important;

  .mat-select-arrow {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  mat-select {
    span {
      font-size: 18px !important;
      color: #616161 !important;
    }
  }

  .mat-form-field-underline{
    display: none;
  }
}


.tips {
  height: 100vh;

  .mat-horizontal-stepper-header-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-top:1px solid $color-light-4;
  }
  .mat-stepper-horizontal-line,
  .mat-step-label,
  .mat-horizontal-stepper-header:not(:last-child)::after,
  .mat-horizontal-stepper-header:not(:first-child)::before,
  .mat-step-icon-content {
    display: none !important;
  }
  .mat-horizontal-stepper-header {
    height: 60px;
    padding: 0 2px;

    .mat-step-icon {
      height: 10px;
      width: 10px;
      margin-left: 5px;
      background-color: $color-light-4;
    }
    .mat-step-icon-selected {
      background-color: $color-dark-2;
    }
  }
  .mat-horizontal-stepper-header:first-child {
    margin: 0 auto;
    margin-right: 0;
  }
  .mat-horizontal-stepper-header:last-child {
    margin: 0 auto;
    margin-left: 0;
  }
}


.animate {

  span {
    display: inline-block;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    animation: sideSlide .5s forwards;
  }

  span:nth-of-type(2) {
    animation-delay: .05s;
  }

  span:nth-of-type(3) {
    animation-delay: .1s;
  }

  span:nth-of-type(4) {
    animation-delay: .15s;
  }

  span:nth-of-type(5) {
    animation-delay: .2s;
  }

  span:nth-of-type(6) {
    animation-delay: .25s;
  }

  span:nth-of-type(7) {
    animation-delay: .3s;
  }

  span:nth-of-type(8) {
    animation-delay: .35s;
  }

  span:nth-of-type(9) {
    animation-delay: .4s;
  }

  span:nth-of-type(10) {
    animation-delay: .45s;
  }

  span:nth-of-type(11) {
    animation-delay: .5s;
  }

  span:nth-of-type(12) {
    animation-delay: .55s;
  }

  span:nth-of-type(13) {
    animation-delay: .6s;
  }

  span:nth-of-type(14) {
    animation-delay: .65s;
  }

  span:nth-of-type(15) {
    animation-delay: .7s;
  }

  span:nth-of-type(16) {
    animation-delay: .75s;
  }

  span:nth-of-type(17) {
    animation-delay: .8s;
  }

  span:nth-of-type(18) {
    animation-delay: .85s;
  }

  span:nth-of-type(19) {
    animation-delay: .9s;
  }

  span:nth-of-type(20) {
    animation-delay: .95s;
  }

}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }

  99% {
    transform: translate(0) scale(1.4);
    color: #54137a;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}


.mat-tab-label.mat-ripple.ng-star-inserted {
  height: 35px!important;
}
.panels-tabs {
  height: 100%;
  // width: 40px !important;
  // min-width: 40px !important;

  .mat-tab-labels > div {
    padding: 0 9px;
    width: 40px !important;
    min-width: 40px !important;

    > div {
      font-size: 24px !important;
    }
  }
}

.grid-header {
  color: rgba(0, 0, 0, 0.54)!important;
}
mat-grid-tile {
  margin-top: 20px;
  .mat-figure {
    height: 20px!important;
  }
}
// mat-grid-tile:first-child,
// mat-grid-tile:nth-child(7) {
//   width: 80px!important;
// }
// mat-grid-tile:nth-child(2),
// mat-grid-tile:nth-child(8) {
//   left: calc(4% + 0.2px) !important;
// }
// mat-grid-tile:nth-child(3),
// mat-grid-tile:nth-child(9) {
//   left: calc((12.3%) * 2) !important;
// }


.mat-form-field-infix,
.mat-form-field-infix > .mat-input-element {
  width: auto!important;
}

/* Styles for the tab label */
.mat-tab-label {
  min-width: 110px!important;
}
.mat-tab-label-content {
  font-size: 16px;
  font-weight: normal;
}
.mat-tab-label.mat-tab-label-active {
  font-size: 16px;
  font-weight: normal;
  color: $info;
  opacity: 1!important;
}
.mat-ink-bar {
  background: $info!important;
}

.triangle {
  position: absolute;
  top: 52px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid rgba(0, 0, 0, 0.33);
  border-left: 100px solid transparent;
}

.details {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  b {
    padding-left: 6px;
  }
  .li-spot {
    list-style-type: none; 
    padding-left: 0;
    background: rgba(125, 194, 65, 0.2);
    border-radius: 6px;
    padding: 6px 0;
    margin-left: -15px;
    margin-top: 8px;
  }
  .spot {    
    list-style-type: none;
    margin-right: 18px;
    padding-left: 8px;
    div {
      display: inline-block;
      width: 60px;
      font-weight: bold;
    }
    div:first-child {
      text-align: end;
      padding: 0 6px;
      width: 110px;
      font-weight: normal;
    }
  }
}

.indicator {
  display: inline-block;
  margin: 0 10px 0 0;

  > * {
    margin-right: 22px;
  }

  mat-icon {
    font-size: 28px;
    margin-top: 4px;
  }
}


.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  height: 34px;
  width: 34px;
  
  mat-icon {
    position: absolute;
    font-size: 22px;
  }
  span {
    font-size: 12px;
  }
}

.selected {  
  color: #7dc241!important;
  mat-icon,
  span {
    color: #7dc241!important;
  }
}
mat-chip.selected, .selected mat-chip {
  background: #7dc241 !important;
  color: #fff!important;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.44);
}


snack-bar-container.default {
  width: fit-content !important;
  min-width: 0 !important;
  background: $default;
}
snack-bar-container.info {
  width: fit-content !important;
  min-width: 0 !important;
  background: $error;
}
snack-bar-container.error {
  width: fit-content !important;
  min-width: 0 !important;
  background: $error;
}
snack-bar-container.success {
  width: fit-content !important;
  min-width: 0 !important;
  background: $success;
}
snack-bar-container.warning {
  width: fit-content !important;
  min-width: 0 !important;
  background: $warning;
}

mat-tab-group {
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

/* notification menu */
.notifications {
  width: 320px!important;
  max-width: 320px!important;

  button {
    > div {
      padding-top: 8px; 
      display: inline-grid; 
      vertical-align: top;

      > div:first-child {
        display: inline;
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 260px;
      }
      > div:last-child {
        position: absolute;
        left: 54px;
        right: 12px;
      }
    }
  }
}

/* mat-spinner rotation time */
.map-parent {
  .mat-progress-spinner.mat-progress-spinner-indeterminate-animation {
    animation: mat-progress-spinner-linear-rotate 11s linear infinite!important;
  }

  .mat-progress-spinner.mat-progress-spinner-indeterminate-animation circle {
    animation-duration: 11s!important;
  }
}

/*
  heder: .collapsible
  body: ..collapsible-content
*/
.collapsible {
  display: inline-block; 
  width: 100%;
  text-transform: capitalize;
  > p {
    margin: 0;
    padding: 4px 10px;
  }
  span:after {
    content: '\002B';
    float: right;
  }
}
.collapsible:hover {
  background: #e5f3d9;
  cursor: pointer;
}
.collapsible.active span:after {
  content: "\2212";
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}



// *::-webkit-scrollbar {
//   width: 0;
// }
// *::-webkit-scrollbar-track {
//   border-radius: 0;
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//   border-radius: 0;
//   -webkit-border-radius: 0;
// }
// *::-webkit-scrollbar-thumb {
//   background: rgb(97, 97, 97); 
//   border-radius: 0;
//   -webkit-border-radius: 0;
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }
// *::-webkit-scrollbar-thumb:window-inactive {
//   background: rgb(97, 97, 97); 
// }



/*
  sidenav menu item children
*/
ng-list-item > div {
  
  > ng-list-item > mat-list-item {
    padding-left: 24px !important;
  }
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}


/*
  toaster
*/
.ngx-toastr {
  padding: 8px 12px !important;
  background-size: 0 !important;
  box-shadow: 0 0 4px $color-normal !important;
}

/*
  agency rside form
*/
.footer { 
    overflow: hidden;
    display: flex;
    position: absolute;
    height: 58px;
    bottom: 0;
    left: 0;
    right: 0;

    button {
    flex: 1;
    height: 100%;
    border-radius: 0;
    z-index: 9999;
    }
}

.rsidenave-action-buttions {
  display: inline-flex;
  position: absolute;
  top: -3px;
  right: 0;
  height: 35px;
  z-index: 99999;

  * {
  color: rgba(97, 97, 97);
  }
}

.mat-error{
  color:red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
