@import "./variables.scss";
@import "./circular-prog-bar.scss";

  
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Okomito",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  position: relative;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); /* Safari */
  -moz-transform: rotate(90deg);  /* Firefox */
  -ms-transform: rotate(90deg); /* IE */
  -o-transform: rotate(90deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
}

.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); /* Safari */
  -moz-transform: rotate(180deg);  /* Firefox */
  -ms-transform: rotate(180deg); /* IE */
  -o-transform: rotate(180deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* Internet Explorer */
}

.rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg); /* Safari */
  -moz-transform: rotate(270deg);  /* Firefox */
  -ms-transform: rotate(270deg); /* IE */
  -o-transform: rotate(270deg);  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}